body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000;
}

.container {
  text-align: center;
}

#emotion-gif-container {
  margin-top: 20px;
}

#emotion-gif {
  max-width: 100%;
  height: auto;
}
